data/
.vscode
**/__pycache__/**
benchmark/outs
dump
*.pyc
**/._*
**/pkl_outputs
benchmark/graphs/**
STDIN.*
jobs
models/
.ipynb_checkpoints
.*.swp
!imojie/models
!allennlp/allennlp/tests/models/
!allennlp/allennlp/models/
!models
